// h1{
//     color: red;
// }

h1 {
    font-style: italic;
}

.adult {
    color: green;
    font-weight: bold;
  }
  
  .minor {
    color: red;
    font-weight: bold;
  }

.back-red {
  background-color: yellow;
}

.back-blue {
  background-color: rgb(216, 216, 201);
}

.back-green {
  background-color: green;
}